<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">

    {%-if settings.head-favicon-%}
        <link rel="shortcut icon" href="{{ settings.head-favicon.src }}">
    {%-else-%}
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
    {%-endif-%}

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {{ 'tiny-slider.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    
    <title>
        {%-if settings.head-title-%}
            {{ settings.head-title }}
        {%-else-%}
            {{ store.name }}
        {%-endif-%}
    </title>

    {%-style-%}
    .hero .hero-img-wrap:after {
        background-image: url("{{ 'dots-light.svg' | asset_url }}");
    }
    
    .why-choose-section .img-wrap:before {
        background-image: url("{{ 'dots-yellow.svg' | asset_url }}");
    }
    
    .we-help-section .imgs-grid:before {
        background-image: url("{{ 'dots-green.svg' | asset_url }}");
    }
    {%-endstyle-%}

    {{ content_for_header }}
</head>

<body>
    {%-render 'header'-%}

    {{ content_for_layout }}

    {%-render 'footer'-%}

    {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
    {{ 'tiny-slider.js' | asset_url | script_tag }}
    {{ 'custom.js' | asset_url | script_tag }}
</body>

</html>